<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ERMSCORE</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">  
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.2.0/ekko-lightbox.css" />
  <link rel="stylesheet" href="/css/style.css">
</head> 
<body>
 <nav class="navbar navbar-expand-sm bg-black navbar-dark fixed-top">
    <div class="container">
      <img style="max-width: 180px; margin-top: -4px; margin-left: -100px;" src="/img/logo.png" alt="logo">&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/profile" class="navbar-brand"><h4><strong>ERMSCORE</strong></h4></a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a href="#showcase" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="#home-heading" class="nav-link">About Us</a>
          </li>
          <li class="nav-item">
            <a href="#developers-heading" class="nav-link">Authors</a>
          </li>
          <li class="nav-item">
            <a href="/logout" class="nav-link">Sign out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- SHOWCASE SLIDER -->
  <section id="showcase">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item carousel-image-1 active">
          <div class="container">
            <div class="carousel-caption d-none d-sm-block text-right mb-5">
              <h1 class="display-3">Heading One</h1>
              <p class="lead">Firearms Division: Pistol Department, Rifle Department, Revolver Department and Shotgun Department. Ammo Division: Centerfire Department, Rimfire Department and Engineering Department.</p>
              <a href="#" class="btn btn-danger btn-lg">Learn More</a>
            </div>
          </div>
        </div>

        <div class="carousel-item carousel-image-2">
          <div class="container">
            <div class="carousel-caption d-none d-sm-block mb-5">
              <h1 class="display-3">Heading Two</h1>
              <p class="lead">Admin Division: Accounting Department, General Warehouse Department, Sales and Logistics Department and IT Department.</p>
              <a href="#" class="btn btn-primary btn-lg">Learn More</a>
            </div>
          </div>
        </div>

        <div class="carousel-item carousel-image-3">
          <div class="container">
            <div class="carousel-caption d-none d-sm-block text-right mb-5">
              <h1 class="display-3">Heading Three</h1>
              <p class="lead">Repair and Maintenance Ammunition Job Description: Repair and rebuild metal forming presses, cold forming heading machines, metal turning and trimming machines, conveyors, electrical systems, CNC machinery, pneumatic tools and hydraulic equipment, etc.</p>
              <a href="#" class="btn btn-success btn-lg">Learn More</a>
            </div>
          </div>
        </div>
      </div>

      <a href="#myCarousel" data-slide="prev" class="carousel-control-prev">
        <span class="carousel-control-prev-icon"></span>
      </a>

      <a href="#myCarousel" data-slide="next" class="carousel-control-next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </section>

  <!-- HOME ICON SECTION -->
  <section id="home-icons" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-4 text-center">
          <i class="fa fa-tasks mb-2"></i>
          <div>
            <a href="/profile/user" class="btn btn-outline-secondary my-4">Daily Reports and Task</a>
          </div>
          <!-- <button type="button" class="btn btn-light btn-block btn-lg" data-target="#">k</button><br> -->
          <p>Daily reports and tasks are activities done by employees that should be reported to admin everyday for records.</p>
        </div>
        <div class="col-md-4 mb-4 text-center">
          <i class="fa fa-calendar mb-2"></i>
          <div>
            <a href="/profile/user" class="btn btn-outline-secondary my-4">Daily Attendance and Leaves</a>
          </div>
          <p>It computes and notifies the employees to their attendance, those who exceed the minimum limit of absences will have penalties or worst, termination.</p>
        </div>
        <div class="col-md-4 mb-4 text-center">
          <i class="fa fa-vcard-o mb-2"></i>
          <div>
            <a href="/profile/user" class="btn btn-outline-secondary my-4">Employers Profile</a>
          </div>
          <p>Users can see their daily records of reports passed together with their profile and credentials.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- HOME HEADING SECTION -->
  <section id="home-heading" class="p-5">
    <div class="dark-overlay">
      <div class="row">
        <div class="col">
          <div class="container pt-5">
            <h1>About Us</h1>
            <p class="d-none d-md-block">History of ERMSCOCKE</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- INFO SECTION -->
  <section id="info" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-6 align-self-center">
          <h3>30 YEARS OF DELIVERING INNOVATION AND VALUE TO THE USA</h3><br>
          <p>Firearms for How You Live. You love to hit the target. You value protecting your home and the people in it. You understand the meaning of what makes a truly great firearm. Armscor-Rock Island Armory is a best-fit manufacturer for the pistols, rifles, shotguns and ammunition you need for your concealed-carry, home-defense, self-defense and competition shooting lifestyle. Pack something that brings true heat. The way we see it, everyone should have the right and the means to shoot. That’s why we build so much value into our products. It’s not about cutting corners to make a less expensive gun. It’s about delivering performance at a price that makes shooting affordable. Plus, our firearms are SOLID AS A ROCK. This also means big deals for consumers throughout 2017 and more sales for dealers and distributors. Learn more about our Dealer Stocking Program here.</p>
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
          <img src="/img/ARMSLOGO.png" class="img-fluid" alt="ARMSCOR Logo">
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
  </section>

 <!-- DEVELOPERS HEADING SECTION -->
   <section id="developers-heading" class="py-5">
    <div class="dark-overlay">
      <div class="row">
        <div class="col">
          <div class="container pt-5">
            <h1>Authors</h1>
            <p class="d-none d-md-block">Profile of Developers</p>
          </div4
        </div>
      </div>
    </div>
  </section>

 <!-- DEVELOPERS SECTION -->
  <section id="staff" class="py-5 text-center bg-dark text-white">
    <div class="container">
      <h1>Our Members</h1>
      <hr>
      <div class="row">
        <div class="col-md-3">
          <img src="/img/person4.jpg" alt="" class="img-fluid rounded-circle mb-2">
          <h4>Ernest Nicole Penales</h4>
          <small>Document Head</small>
        </div>
        <div class="col-md-3">
          <img src="/img/person4.jpg" alt="" class="img-fluid rounded-circle mb-2">
          <h4>Dwayne Cueto</h4>
          <small>Business Manager</small>
        </div>
        <div class="col-md-3">
          <img src="/img/person4.jpg" alt="" class="img-fluid rounded-circle mb-2">
          <h4>John Nico Austria</h4>
          <small>Full Stack Developer</small>
        </div>
        <div class="col-md-3">
          <img src="/img/person4.jpg" alt="" class="img-fluid rounded-circle mb-2">
          <h4>Ted Christopher Capco</h4>
          <small>Web Developer</small>
        </div>
      </div>
    </div>
  </section>

   <!-- INFO SECTION OF DEVELOPERS -->
  <section id="info" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-6 align-self-center">
          <h3>POLYTECHNIC UNIVERSITY OF THE PHILIPPINES</h3><br>
          <p>Those Students who initiate, create, design (wireframing), and coded this project are students of Polytechnic University of the Philippines (PUP) taking up Bachelor of Science in Computer Engineering. This Project is subjected and will be implemented in Armscor International, Inc. at Fortune St., Parang, Marikina City. This was the idea of the former assistant manager Engr. Edgar Napo, assigned managed the Repair and Maintenance Department.</p>
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
          <img src="/img/PUP.png" class="img-fluid" alt="PUP Logo">
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
  </section>

   <!-- VIDEO PLAY SECTION -->
  <section id="video-play">
    <div class="dark-overlay">
      <div class="row">
        <div class="col">
          <div class="container p-5">
            <a
              href="#"
              class="video"
              data-video="https://www.youtube.com/embed/06xUTfSuh2E"
              data-toggle="modal" 
              data-target="#videoModal">
              <i class="fa fa-play"></i>
            </a>
            <h1>See What We Do</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer id="main-footer" class="text-center p-1">
    <div class="container">
     <div class="col text-left">
        <div class="py-1">
            <h1 class="h3"></h1>
            <p>&copy; 2019 Ermscore Copyright, Inc</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- VIDEO MODAL -->
  <div class="modal fade" id="videoModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <button class="close" data-dismiss="modal"><span>&times;</span></button>
          <iframe src="https://www.youtube.com/embed/06xUTfSuh2E" height="350" width="100%" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/jquery.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.2.0/ekko-lightbox.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>
