<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ERMSCORE</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/stylelanding.css">
</head>
<body id="home">
  <nav class="navbar navbar-expand-sm bg-black navbar-dark fixed-top">
    <div class="container">
      <img style="max-width: 180px; margin-top: -4px; margin-left: -100px;" src="/imglanding/logo.png" alt="logo">&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/" class="navbar-brand"><h4><strong>ERMSCORE</strong></h4></a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="#home" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="#explore-head-section" class="nav-link">Explore</a>
          </li>
          <li class="nav-item">
            <a href="#home" class="nav-link">Create</a>
          </li>
          <% if(user) {%>
            <li class="nav-item">
              <a class="nav-link" href="/logout" >Sign out</a>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>

  <!-- HOME SECTION -->
  <header id="home-section">
    <div class="dark-overlay">
      <div class="home-inner">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 d-none d-lg-block">
              <h1 class="display-4">ERMSCORE <strong>Monitoring System</strong> for <strong>Employees</strong></h1>
              <div class="d-flex flex-row">
                <div class="p-4 align-self-start">
                  <i class="fa fa-check"></i>
                </div>
                <div class="p-4 align-self-end">
                  Firearms Division: Pistol Department, Rifle Department, Revolver Department and Shotgun Department.
                  Ammo Division: Centerfire Department, Rimfire Department and Engineering Department.
                </div>
              </div>

              <div class="d-flex flex-row">
                <div class="p-4 align-self-center">
                  <i class="fa fa-check"></i>
                </div>
                <div class="p-4 align-self-end">
                  Admin Division: Accounting Department, General Warehouse Department, Sales and Logistics Department and IT Department. 
                </div>
              </div>

              <div class="d-flex flex-row">
                <div class="p-4 align-self-start">
                  <i class="fa fa-check"></i>
                </div>
                <div class="p-4 align-self-end">
                  Repair and Maintenance Ammunition Job Description: Repair and rebuild metal forming presses, cold forming heading machines, metal turning and trimming machines, conveyors, electrical systems, CNC machinery, pneumatic tools and hydraulic equipment, etc.
                </div>
              </div>
            </div>

              <!-- Triple Forms -->
              <div class="col-lg-4">
              <div class="card bg-primary text-center card-form">
                <div class="card-body">  
                  <%- messages('messages', locals) %>
                  <% if(errors) {%>
                    <% errors.forEach(err => { %>
                      <div class="alert alert-danger">
                        <%= err.msg %>
                      </div>
                    <% }) %>
                  <% } %>
                  <h3>Double Forms</h3>
                  <p>Please fill out this forms to sign-in and proceed to forgot password</p>
                <br>
                <button type="button" class="btn btn-light btn-block btn-lg" data-toggle="modal" data-target="#sign-inModal">Sign-in</button>
              <br><br>

                <button class="btn btn-light btn-block btn-lg" data-toggle="modal" data-target="#ForgotPasswordModal">Forgot Password</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- EXPLORE HEAD -->
  <section id="explore-head-section">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <div class="py-5">
            <h1 class="display-4">Our Services</h1>
            <p class="lead">This service will help the team and the other officers to manage their daily routines, most specially to the supervisor and manager. Also, this website is built for eco-saving matters since it is now paperless. </p>
            <a href="#" class="btn btn-outline-secondary">Find Out More</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- DAILY REPORTS AND TASK SECTION -->
  <section id="explore-section" class="bg-light text-muted py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="/imglanding/p2.jpeg" alt="p2" class="img-fluid mb-3 rounded-circle">
        </div>
        <div class="col-md-6">
          <h3>Daily Reports & Task</h3>
          <p>Daily reports and tasks are activities done by employees that should be reported to admin everyday for records.</p>
          <div class="d-flex flex-row">
            <div class="p-4 align-self-start">
              <i class="fa fa-check"></i>
            </div>
            <div class="p-4 align-self-end">
              Employees will send their reports (daily tasks)to the admin for records in case of emergency.
            </div>
          </div>

          <div class="d-flex flex-row">
            <div class="p-4 align-self-start">
              <i class="fa fa-check"></i>
            </div>
            <div class="p-4 align-self-end">
              If there's something wrong with the report, you have to go to the admin and ask for permission for editing in your account.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  
  <section id="create-section" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3>Daily Attendance and Leaves</h3>
          <p>It computes and notifies the employees to their attendance, those who exceed the minimum limit of absences will have penalties or worst, termination.</p>
          <div class="d-flex flex-row">
            <div class="p-4 align-self-start">
              <i class="fa fa-check"></i>
            </div>
            <div class="p-4 align-self-end">
              Records and computations of Sick and Vacation leaves are done here.
            </div>
          </div>

          <div class="d-flex flex-row">
            <div class="p-4 align-self-start">
              <i class="fa fa-check"></i>
            </div>
            <div class="p-4 align-self-end">
              Once you exceed the limit, their will be changes in your account.
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <img src="/imglanding/p3.jpeg" alt="" class="img-fluid mb-3 rounded-circle">
        </div>
      </div>
    </div>
  </section>


  <!-- SHARE HEAD -->


  <!-- SHARE SECTION -->
  <section id="share-section" class="py-5 bg-light text-muted">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="/imglanding/p5.jpeg" alt="" class="img-fluid mb-3 rounded-circle">
        </div>
        <div class="col-md-6">
          <h3>Employees Profile</h3>
          <p>Users can see their daily records of reports passed together with their profile and credentials.</p>
          <div class="d-flex flex-row">
            <div class="p-4 align-self-start">
              <i class="fa fa-check"></i>
            </div>
            <div class="p-4 align-self-end">
              Employees have their own accounts, they can only see their own works except for admin. Admin can see all their activities, attendance, profile, etc.
            </div>
          </div>

          <div class="d-flex flex-row">
            <div class="p-4 align-self-start">
              <i class="fa fa-check"></i>
            </div>
            <div class="p-4 align-self-end">
              Its like a portfolio of their works.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- MAIN FOOTER -->
  <footer id="main-footer" class="bg-dark">
    <div class="container">
      <div class="row">
        <div class="col text-left">
          <div class="py-2">
            <h1 class="h3"></h1>
            <p>&copy; 2019 Ermscocke Copyright, Inc</p>
          </div>
        </div>
      </div>
    </div>
  </footer>


   <!-- Sign-in MODAL -->
  <div class="modal fade text-dark" id="sign-inModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="sign-inModalTitle">Sign-in</h5>
          <button class="close" data-dismiss="modal"><span>&times;</span></button>
        </div>
        <div class="modal-body">
          <form class="needs-validation" novalidate action="/login" method="POST">
            <div class="form-group">
              <label >Email:</label>
              <input type="text" class="form-control" id="uname" placeholder="Enter email" name="username" required>
            </div>
            <div class="form-group">
              <label >Password:</label>
              <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password" required>
            </div>
          </div>
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


   <!-- Forgot Password MODAL -->
  <div class="modal fade text-dark" id="ForgotPasswordModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ForgotPasswordModalTitle">Reset Password</h5>
          <button class="close" data-dismiss="modal"><span>&times;</span></button>
        </div>
        <div class="modal-body">
          <form action="/forgot-password" method="POST">
            <div class="form-group">
              <label for="email">Email for Verification:</label>
              <input type="text" class="form-control" name="email" id="email" placeholder="Enter email" name="EV" required>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Reset my Password</button>
          </form>
        </div>
      </div>
    </div>
  </div>

<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>

<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</body>
</html>
